.gallery-preview {
    position: relative;
    transition: ease-in-out 0.2s;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    box-sizing: border-box;
    aspect-ratio: 16 / 9;
}

.preview-image {
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}



#home, #filter, #order {
    height: 7vh;
}

@media (hover: hover) and (pointer: fine) {

    .gallery-preview:hover,
    #topBtn:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    .gallery-preview:hover .preview-image {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    }

    #order:hover,
    #filter:hover {
        cursor: pointer;
    }

    .tag:hover {
        animation: both 0.3s ease-in-out shake;
        background-color: white;
        color: #6e90f7;
    }
}

body {
    position: relative;
    justify-content: flex-start !important;
}

@media (min-width: 500px) {
    #gallery {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

@media (max-width: 499px) {
    #gallery {
        grid-template-columns: 1fr;
    }
}

#gallery {
    display: grid;
    gap: 1vw;
    width: 80vw;
    align-items: center;
    justify-content: center;
}

#topBtn {
    position: fixed;
    height: 9ch;
    width: 9ch;
    border-radius: 4.5ch;
    bottom: min(calc((10vh - 9ch) / 2), 50px);
    right: min(calc((10vh - 9ch) / 2), 50px);
    z-index: 1;
    background-color: white;
    color: #6e90f7;
}


nav {
    height: 7vh;
    margin: 2vh 0;
    justify-content: space-between !important;
}


.tag {
    position: absolute;
    background-color: #6e90f7;
    height: 4ch;
    padding: 0 0.75rem;
    margin: 1ch 0.75ch;
    border-radius: 1.5ch;
    transition: ease-in-out 0.3s;
}

