@font-face {
    font-family: 'KCC-Hanbit';
    src: url('/resource/KCC-Hanbit.eot') format('embedded-opentype'),
        url('/resource/KCC-Hanbit.woff2') format('woff2'),
        url('/resource/KCC-Hanbit.woff') format('woff'),
        url('/resource/KCC-Hanbit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.box::-webkit-scrollbar {
    display: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

body {
    width: 100vw;
    margin: 0;
    background-color: #6e90f7;
    color: white;
    -ms-overflow-style: none;
    text-align: center;
    vertical-align: middle;
}

header,
footer {
    width: 100vw;
}

@media (hover: hover) and (pointer: fine) {
    nav {
        width: 80vw;
    }

    header {
        margin: 5vh 0 3vh 0;
    }

    footer {
        margin: 3vh 0 5vh 0;
    }

    .icon:hover {
        cursor: pointer;
        filter: brightness(0.9);
        transform: scale(1.1);
        transition-timing-function: ease-in-out;
        transition-duration: 0.15s
    }

    div.h4button:hover {
        background-color: #6e90f7;
        color: white;
        cursor: pointer;
    }

    div.h4button:hover .hoverIcon {
        background: white;
    }
}

@media (pointer: coarse) {
    nav {
        width: 100vw;
    }

    header {
        margin: 5vh 0 0 0;
    }

    footer {
        margin: 0 0 5vh 0;
    }
}

html {
    font-size: 1.4vh;
    font-family: 'KCC-Hanbit';
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    vertical-align: middle;
    display: inline-block;
}

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.icon {
    margin-left: 1ch;
    margin-right: 1ch;
    width: 6ch;
}

a {
    text-decoration: none;
    color: inherit;
}

div.h4button {
    transition: all 0.3s ease;
    background-color: white;
    color: #6e90f7;
    border: 3px solid white;
    height: 4em;
    border-radius: 2em;
    margin: 2vh 0;
}

div.hoverIcon {
    width: 2.5ch;
    height: 2.5ch;
    margin-left: 0;
    margin-right: 1ch;
    background: #6e90f7;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    transition: all 0.3s ease;
}

::-webkit-scrollbar {
    display: none;
}


@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

img {
    display: inline-block;
}
